@use "~@blueprintjs/core/lib/scss/variables.scss" as *;

.breakContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 40px;
  text-wrap-style: balance;

  :focus,
  :focus ~ .bp6-control-indicator {
    outline: none !important;
  }
}

.breakCountdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $pt-grid-size * 3;
  z-index: 10;
}

.breakNotification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.breakProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  position: relative;
}

.notificationContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $pt-grid-size * 2;
}

.notificationText {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.notificationButtons {
  flex-shrink: 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.breakProgress .background {
  border-radius: 50%;
}

.breakTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.breakMessage {
  margin-top: 0;
  margin-bottom: $pt-grid-size * 2;
  font-weight: 400;
}

.countdown {
  margin: $pt-grid-size * 2;
}

.progressContent {
  z-index: 1;
}

.outerSpinner {
  position: absolute;
}

.actionButton {
  margin: $pt-grid-size;
}

:global {
  .bp6-spinner-head {
    stroke: #ffffff !important;
  }
}
