@import "~@blueprintjs/core/lib/scss/variables.scss";

.breakContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $pt-grid-size * 3;
  text-align: center;
  position: relative;

  :focus,
  :focus ~ .bp3-control-indicator {
    outline: none !important;
  }
}

.breakCountdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.breakProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $pt-grid-size * 3;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

.breakTitle,
.breakMessage {
  margin-top: 0;
  margin-bottom: $pt-grid-size * 2;
}

.countdown {
  margin: $pt-grid-size * 2;
}

.progressContent {
  z-index: 1;
}

.outerSpinner {
  position: absolute;
}

.actionButton {
  margin: $pt-grid-size;
}

:global {
  .bp3-spinner-head {
    stroke: #ffffff !important;
  }
}
