@import "~@blueprintjs/core/lib/scss/variables.scss";

.settings {
  flex-grow: 1;
  padding: $pt-grid-size * 2 $pt-grid-size * 4;
  overflow-y: auto;
}

.darkMode {
  background: $dark-gray5;
}

:global {
  .bp5-tabs .bp5-tab-list {
    margin-bottom: $pt-grid-size * 2;
  }

  .bp5-tab {
    font-weight: bold;
  }

  .bp5-control {
    margin-bottom: 0 !important;
  }

  .bp5-form-group {
    margin-bottom: $pt-grid-size * 2;
  }

  .bp5-form-group:last-child {
    margin-bottom: 0 !important;
  }
}

.colorPicker {
  width: 100px;
}
