@import "~@blueprintjs/core/lib/scss/variables.scss";

.settings {
  flex-grow: 1;
  padding: $pt-grid-size * 2;
}

.darkMode {
  background: $dark-gray5;
}

:global {
  .bp3-tabs .bp3-tab-list {
    margin-bottom: $pt-grid-size * 2;
  }

  .bp3-form-group:last-child {
    margin-bottom: 0;
  }
}

.colorPicker {
  width: 100px;
}
