@use "sass:math";
@import "~@blueprintjs/core/lib/scss/variables.scss";

.workingHoursSettings {
  margin: $pt-grid-size * 3 0;
}

.daySwitch {
  width: 120px;
}

.day {
  display: flex;
  gap: $pt-grid-size * 3;
}

.ranges {
  display: flex;
  flex-direction: column;
  gap: math.div($pt-grid-size, 2);
  margin-bottom: 0 !important;
}

.dayButtons {
  display: flex;
  gap: math.div($pt-grid-size, 2);
  align-items: flex-start;
}

.timeRange {
  display: flex;
  gap: $pt-grid-size;
  align-items: center;
  margin-bottom: 0;
}

.actions {
  display: flex;
  gap: math.div($pt-grid-size, 2);
}

.copyPopover {
  padding: $pt-grid-size * 1.5;

  h4 {
    margin: 0 0 $pt-grid-size 0;
  }
}

.daysList {
  display: flex;
  flex-direction: column;
  gap: $pt-grid-size;
  margin-bottom: $pt-grid-size * 1.5;
}

.popoverButtons {
  display: flex;
  justify-content: flex-end;
}
